<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruzhan.awaker.article">

    <application>

        <activity
            android:name=".news.ArticleNewDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Awaker.Article" />

        <activity
            android:name=".comment.ArticleCommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Awaker.Article" />

    </application>
</manifest>
